.first-card-heading {

    text-transform: capitalize;
    font-weight: 600;
}

.first-card-header {

    background-color: white !important;
    border: none !important;
}

.general-invoice-heading h6 {

    text-transform: capitalize;
    color: #6F27F7;
    font-weight: 700;
}

.billing-invoice-heading h6 {

    text-transform: capitalize;
    color: #6F27F7;
    font-weight: 700;
}

.address-invoice-heading h6 {

    text-transform: capitalize;
    color: #6F27F7;
    font-weight: 700;
}

.billing-invoice-content {

    color: #B8B8B8;
}
 
.invoice-email {

    font-weight: 700;

}

.invoice-phone {

    font-weight: 700;

}

.forth-card-header {

    background-color: white !important;

}
.forth-card-header h6 {

    text-transform: capitalize;
    color: #6F27F7;
    font-weight: 700;

}

.forth-card-order {

    background-color: white !important;

}
.forth-card-order h6 {

    color: #B8B8B8;

}

.invoice-private-note {

    border: 1px solid #6F27F7 !important;
    color: #6F27F7 !important;
}

.invoice-private-note::after{

    margin-left: 30px !important;
}

.btn-invoic-add {

    text-transform: capitalize;
    border-radius: 5px;
    background-color: #21B967 !important;
    color: white !important;
    margin-left: 1rem;
}

.invoice-qrcode {
    
    padding: 12px 0px;
}

.invoice-qrcode-design {

    font-size: 12rem;
    text-align: center;
}