.first-card-heading {

    text-transform: capitalize;
    font-weight: 600;
}

.first-card-header {

    background-color: white !important;
    border: none !important;
}

.general-invoice-heading h6 {

    text-transform: capitalize;
    text-align: left;
    color: #6F27F7;
    font-weight: 700;
}

.billing-invoice-heading h6 {

    text-align: left;
    text-transform: capitalize;
    color: #6F27F7;
    font-weight: 700;
}

.address-invoice-heading h6 {

    text-align: left;
    text-transform: capitalize;
    color: #6F27F7;
    font-weight: 700;
}

.billing-invoice-content {

    color: #B8B8B8;
    padding-top: 10px;
}
 
.invoice-email {
    text-align: left;

    font-weight: 700;
    padding-top: 10px;

}

.invoice-phone {
    text-align: left;

    font-weight: 700;
    padding-top: 10px;

}

.forth-card-header {

    background-color: white !important;

}
.forth-card-header h6 {

    text-transform: capitalize;
    color: #6F27F7;
    font-weight: 700;
    padding-top: 1px;
}

.forth-card-order {

    background-color: white !important;

}
.forth-card-order h6 {

    color: #B8B8B8;

}

.invoice-private-note {

    border: 1px solid #6F27F7 !important;
    color: #6F27F7 !important;
    margin-right: 30px;
}

.invoice-private-note::after{

    /* margin-left: 30px !important; */
}

.btn-invoic-add {
    width: 30%;
    text-transform: capitalize;
    border-radius: 5px;
    background-color: #21B967 !important;
    color: white !important;
    margin-left: 1rem;
}

.invoice-qrcode {
    
    padding: 12px 0px;
}

.invoice-qrcode-design {

    font-size: 12rem;
    text-align: center;
}

.btn-invoic-recalculate {
    border-radius: 5px;
    background-color: #21B967 !important;
    color: white !important;
    /* margin-left:4em; */
}
b{
    padding-top: 90px;
}
/* .general-invoice-heading input{
    width: 110px;
} */

.forth-card-order p{
padding-top: 20px;

}
/* .card-body p{
    padding-top: 20px;
} */