.merchant-forgot-body {

    width: 25rem !important;
    border: 1px solid rgba(0,0,0,.125);
    
}

.body-merchant {
    height: 100vh;
    background: radial-gradient(circle at bottom right,#cea7ff,white,white,white);
}

.merchant-forgot-container {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)
    
}

.merchant-forgot-forms {

    border: none !important;
    border-bottom: 1px solid #D4D4D4 !important;
    color: black !important;
}


.merchant-forgot-btn {

    width: 100%;
    border-radius: 20px;
    border-radius: 20px !important;
    background-color: #21B967 !important;
    color: white !important;
}

