
.transaction-heading h3 {

    text-transform: capitalize;
    font-weight: 600;
}

.tranasction-body {

    
    width: 85%;
}

.dashboard-table-heading tr th {

    text-align: inherit;
    padding: 10px 25px;
    background-color: #5D43F8;
    border:none!important;
    color: #FFFFFF;
    font-size: 0.9rem;
}

.trans-id {

    font-weight: normal;
}

.user-table-data {

    background-color: #F5F4FF;
}
.cardbody123{
    min-width: -webkit-fill-available !important;
}