.card-body-forgot {

    width: 25rem !important;
    border: 1px solid rgba(0,0,0,.125);
    
}

.user-body {
    height: 100vh;
    background: radial-gradient(circle at bottom right,#cea7ff,white,white,white);
  }
.user-forgot-container {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)
    
}

.user-forgot {

    text-align: center;
    color: #8C46F7;
    font-weight: 700 !important;
    font-size: 1.2rem !important;

}

.form-control-forgot {

    border: none !important;
    border-bottom: 1px solid #D4D4D4 !important;
    color: black !important;
}




.forgot-btn {

    width: 100%;
    border-radius: 20px !important;
    background-color: #21B967 !important;
    color: white !important;
}

