.deposit-merchant-heading {

    color: #743BF8;
    font-weight: 700;
    text-transform: capitalize;

}



.deposit-merchant-table-heading tr th {

    text-align: inherit;
    padding: 10px 25px;
    background-color: #5D43F8;
    border:none!important;
    color: #FFFFFF;
    font-size: 0.9rem;
}

.deposit-merchant-id {

    font-weight: normal;
}

.deposit-merchant-table-data {

    background-color: #F5F4FF;
}

.qrcode-deposit {

    font-size: 3rem;
}

.deposit-merchant-clone {

    color:#007AFF ;
}
.btn-deposit-play {

    background-color:#5D43F8 !important;
    color: white !important;
    text-transform: capitalize !important;
}
