.merchant-body {

    height: 100vh;
    background: radial-gradient(circle at bottom right,#cea7ff,white,white,white);
}

.merchant-container {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)
    
}

.merchant-reset {

    width: 50rem !important;
    border: 1px solid rgba(0,0,0,.125);
    
}



.form-control-merchant-reset {

    
    border: 1px solid #D4D4D4 !important;
    border-radius: 0.25rem !important;
    color: black !important;
}

.merchant-reset-btn {

    width: 100%;
    border-radius: 20px !important;
    background-color: #21B967 !important;
    color: white !important;
}



.merchant-text {

    text-align: center;
    color: #8C46F7;
    font-weight: 700 !important;
    font-size: 1.2rem !important;
}
