.deposit-merchant-heading-invoice {

    color: #743BF8;
    font-weight: 700;
    text-transform: capitalize;

}



.deposit-merchant-table-heading-invoice tr th {

    text-align: inherit;
    padding: 10px 25px;
    background-color: #5D43F8;
    border:none!important;
    color: #FFFFFF;
    font-size: 0.9rem;
    font-weight: 800;
}

.deposit-merchant-id-invoice {

    font-weight: normal;
}

.deposit-merchant-table-data-invoice {

    background-color: #F5F4FF;
}

.qrcode-deposit-invoice {

    font-size: 3rem;
}

.deposit-merchant-clone-invoice {

    color:#007AFF ;
}
.btn-deposit-play-invoice {

    background-color: #21B967;
    color: white !important;
    text-transform: capitalize !important;
}

.btn-invoice {

    
    height: 3rem;
    border-radius: 30px !important;
    background-color: #21B967 !important;
    color: white !important;    
    text-transform: capitalize;
}
