.merchanth1{
    padding: 10px;
    margin-left: 20PX;
    color: #7C12F6;
    padding-bottom: 50px;
}
.merchanth6{
    padding-top: 80px;
}
.merchantp{
    padding-top: 70px;

}
.user-profile{
    text-align: left;
}
